<h1 class="text-3xl font-bold underline text-green-600 bg-red-700 hover:text-green-900">
  Hello World
</h1>
<br>
<br>
<h1 class="border-8 border-black text-red-700 lg:text-addix hover:text-emerald-600 hover:lg:text-yellow-400">
  Moin
</h1>

<h1 class="text-3xl">test</h1>
<h2 class="text-xl">test2</h2>


<h1 class="subpixel-antialiased">This is a cool text.</h1>
<h1 class="antialiased">This is a cool text.</h1>
<h1 class="italic hover:not-italic hover:text-red-800 hover:bg-blue-300 hover:text-lg font-bold">This is a cool text.</h1>