<!-- <div class="h-screen w-screen">
  <div class="grid grid-cols-2 lg:grid-cols-4 gap-2">
    <div class="rounded-lg bg-sky-400 text-white text-center row-span-2">1</div>
    <div class="rounded-lg bg-sky-400 text-white text-center">2</div>
    <div class="rounded-lg bg-sky-400 text-white text-center col-span-2">3</div>
    <div class="rounded-lg bg-sky-400 text-white text-center col-start-2 hover:col-span-2">4</div>
    <div class="rounded-lg bg-sky-400 text-white text-center">5</div>
    <div class="rounded-lg bg-sky-400 text-white text-center">6</div>
  </div>
  <div class="container mx-auto mt-14 columns-3">
    <div class="text-white flex justify-center">1</div>
    <div class="text-white flex justify-center">2</div>
    <div class="text-white flex justify-center">3</div>
    <div class="text-white flex justify-center">4</div>
    <div class="text-white flex justify-center">5</div>

  </div>
  <div class="columns-2">
    <p>Well, let me tell you something, ...</p>
    <p class="break-after-column">Sure, go ahead, laugh...</p>
    <p>Maybe we can live without...</p>
    <p>Look. If you think this is...</p>
  </div>

  <br>
  <br>

  <div class="columns-2">
    <p>Well, let me tell you something, ...</p>
    <p class="break-before-column">Sure, go ahead, laugh...</p>
    <p>Maybe we can live without...</p>
    <p>Look. If you think this is...</p>
  </div>

  <br>
  <br>

  <div class="columns-2">
    <p>Well, let me tell you something, ...</p>
    <p>Sure, go ahead, laugh...</p>
    <p>Maybe we can live without...</p>
    <p>Look. If you think this is...</p>
  </div>
</div> -->



<!-- <div class="bg-slate-900 h-screen w-screen">
  <div class="container mx-auto flex justify-start pt-10">
    <div class="flex flex-col gap-12 w-full">
      <app-person-card class="w-full max-w-2xl min-w-max pl-8 px-4"></app-person-card>
      <app-person-card class="w-full max-w-2xl min-w-max pl-8 px-4"></app-person-card>

      <div class="flex relative pb-16">
        <app-pink-box arg="1" class="border-white border-2 rounded-lg absolute left-0 z-20"></app-pink-box>
        <app-pink-box arg="2" class="border-2 rounded-lg border-white absolute left-14 z-10"></app-pink-box>
        <app-pink-box arg="3" class="border-2 rounded-lg border-white absolute left-28 z-0"></app-pink-box>
      </div>

      <div>
        <button class="mt-5 bg-slate-500/50 text-gray-300 rounded-md p-4 hover:ring-2 ring-offset-2 ring-offset-slate-900 ring-blue-500/50" (click)="onOpenModal()">
          Open Modal
        </button>
      </div>
    </div>

    <div appDynamicComponent></div>
  </div>
</div> -->

<div class="container mx-auto my-auto">
  <p>This is a paragraph</p>
  <h1>This is a title</h1>
  <h2>This is a subtitle</h2>
  <a href="https://www.google.com">This is an anchor</a>
  <div class="my-2">
    <button class="btn btn-primary">This is a primary button</button>
  </div>
  <div>
    <button class="btn btn-secondary">This is a secondary button</button>
  </div>
  <div class="mt-2">
    <button disabled class="btn btn-primary">This is a disabled button</button>
  </div>
  <div class="mt-2">
    <input type="text" placeholder="E Mail">
  </div>
  <div class="mt-2">
    <input disabled type="text">
  </div>
  <div class="mt-2">
    <input type="date">
  </div>
  <div class="mt-2 flex">
    <input type="checkbox" id="checkbox" class="-mt-4">
    <label for="checkbox">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum natus odio consequuntur fuga vero esse excepturi saepe iusto? Nisi molestiae earum facilis aliquid. Nulla reiciendis quis esse perferendis, autem atque! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora dolor distinctio, beatae doloribus minus repellendus repellat illo corporis, labore, magni expedita laborum eligendi alias quis ea modi earum iure autem!</label>
  </div>
  <div class="mt-2">
    <select>
      <option>Option 1</option>
      <option>Option 2</option>
    </select>
  </div>
</div>
