<div class="min-w-full h-20 bg-slate-500/50 rounded-lg overflow-visible gap-5 relative items-center">
    <img src="../../../assets/img/AndrewAlfred.jpg" alt="A" class="rounded-full h-28 w-28 absolute -top-4 -left-4">
    <!-- <div class="rounded-full bg-white overflow-visible min-h-full min-w-full">
        bild
    </div> -->
    <div class="flex-col justify-between ml-32 py-4">
        <h1 class="text-white">Andrew Alfred</h1>
        <h2 class="text-gray-500">Technical advisor</h2>
    </div>
</div>
